*{
    padding :0px;
    margin: 0px;
    box-sizing: border-box;
}

.collapse{
    margin-left: 300px;
}
.navbar-brand {
    font-size: 30px;
    
    font-weight: bold;
    
}
.fixed_nav{
    position:fixed;
    z-index:555;
}
.nav-link {
    color: #273c75;
}
.nav-item {
    margin-left: 20px;
    
}
header nav ul li:hover{
    color:blue;
}

.btn{
    margin-left: 10px;
}
.container-fluid img{
    margin-left: 35px;
}
.display-4{
    margin-left:30px ;
    color: #273c75;
    font-weight: bold;
    font-size: 45px;
}

.btn1{
    margin-left: -372px;
    padding: 13px;
    border: none;
    border-radius: 5px;
    width: 200px;
    margin-top: 30px;
}

.image1 img{
    width:800px;
    height: 600px;
    margin-top: 110px;
}
.qui{
    margin-left: 30px;
}
.aos-init2 {
    margin-left: 63px;
    color: #273c75;
    font-size: 51px;
}
.aos-init1{
    margin-left: 65px;
    margin-top: 20px;
    font-size: 28px;
    font-weight: 200;
}
.display-1{
    font-size: 14px;
    margin-left: 33px;
    color: blue;
    font-weight: bold;
}
.lead {
    margin-left: 30px;
    margin-top: -2px;
    font-size: 22px;
    color: #273c75;
    font-weight: bold;
    
}
.quis{
    margin-left: 29px;
}
.btn4{
    font-size: 20px;
    width: 173px;
    padding: 13px;
    border: none;
    border-radius: 5px;
    width: 162px;
    margin-top: 12px;
}
.assets img{
    width: 599px;
    height: 454px;
    margin-top: -23px;

}
.jumbotron{
    background-color:#dff9fb ;
}
.cards{
    display: flex;
}
.container{
    margin-top: 124px;
}
.our{
    text-align: center;
    color:blue;
    font-size: 13px;
}
.odit{
    text-align: center;
    color:#30336b;
    text-transform: lowercase;
}
.card{
    margin-right: 17px;
    margin-top: 81px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    
    width: 658px;
    height: 392px;
}
 

.card_a{
    display: flex;
    margin-right: -30px;
    margin-left: 41px;
    height: 137px;
    width: 443px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    
     
}
.container2{
    display: flex;
    margin-top:200px;
}
.content{
    font-size: 40px;
    margin-left: 46px;
    color: #1e3799;
    margin-top: 11px;
}
.hard{
    margin-left: 52px;
}
.icon1 {
    color: blue;
    margin-top: 16px;
    margin-left: 20px;
}
.icon3 {
    color:#2ed573;
    margin-top: 16px;
    margin-left: 20px;
}
.icon4 {
    color:#c23616;
    margin-top: 16px;
    margin-left: 20px;
}
.feature1{
    text-align: center;
    color:blue;
    font-size: 15px;
}
.lab{
    text-align: center;
    color:#1e3799;
    font-size: 42px;
    font-weight: 800;
}
.container4{
    margin-top: 184px;
}
.rect_card{
    width: 293px;
    height: 93px;
    
    box-shadow: 0 6px 10px rgb(0 0 0 / 10%), 0 6px 6px rgb(0 0 0 / 23%);
    margin-left: 27px;
    margin-top: 20px;
    padding: 30px;
}

.card_topic2 {
    margin-left: 895px;
    margin-top: -342px;
}

.flex{
    display: flex;
}
.para_tick{
    margin-left: 20px;
    color:#1e3799 ;
    font-weight: bold;
}
.tick{
    background-color:#c7ecee ;
    width: 25px;
    
}
.tick:hover{
    background-color:#1e3799;
}
.tick i{
    margin-left: 6px;
}
.flex_neq{
    display: flex;
    margin-left: 60px;
}
.pic{
    margin-top: 146px;
    background: white;
    width:777px;
    margin-left: -200px;
}

.display-6{
    font-size: 33px;
    margin-left: 58px;
    color:#1e3799;
}
.con{
    margin-left: 59px;
}
.omis{
    margin-left: 60px;
}
.line_flex{
    display: flex;
}
.line_para{
    margin-left: 58px;
    margin-bottom: -23px;
    margin-right: -31px;
}
.rep{
    color: #1e3799;
    font-weight: bold;
    margin-top: -5px;
    margin-left: 9px;
}
.inci{
    color: #1e3799;
    font-weight: bold;
    margin-top: -5px;
    margin-left: 9px;  
}
.ration_card{
    display: flex;
    margin-top: 25px;
}
.main_flex{
    display: flex;
}
.ration_flex{
    margin-left: 20px;
}
.ration_icon{
    color: #1e3799;
}
.ration_para1{
    color:#1e3799;
    font-weight: bold;
    font-size: 20px;
}
.ration_para2{
    color: #95a5a6;
    font-size: 15px;
}
.services{
    text-align: center;
    color:blue;
}
.veri{
    text-align: center;
    color:#1e3799;
    font-size: 40px;
    font-weight: bold;
}

.container4{
    display: flex;
}
.width{
    width: 669px;
    height: 351px;
    margin-left: -82px;
}
.card-body{
    font-size: 15px;
}
.et img{
    width: 623px;
    height: 404px;
    margin-left: -63px;
}

.card-title {
    margin-left: 20px;
    margin-bottom: 0.75rem;
}
.done img {
    width: 586px;
    height: 474px;
    margin-top: 128px;
    margin-left: -61px;
    margin-left: -61px;
   
}
.start{
    text-align: center;
    font-size: 38px;
}
.molli{
    font-size: 30px;
    text-align: center;
    color:#1e3799;
}
.got{
    margin-top: -30px;
}


.price{
    text-align: center;
    color:blue;
}
.check{
    text-align: center;
    color:#1e3799;
    font-size: 40px;
    font-weight: bold;
}
.flex_quick{
    display: flex;

}

.card1 img {
    width: 221px;
    height: 201px;
    margin-left: 60px;
    margin-top: 17px;
}
.card2{
    margin-right: 17px;
    margin-top: 81px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    width: 658px;
    height: 602px;
}
.cut{
    font-size: 15px;
    padding-left: 72px;
    margin-top: -18px;

}
.buy{
    border-radius: 20px;
    width: 143px;
    height: 47px;
    margin-left: -10px;
}
.aida{
    margin-left: 20px;
}
.mas{
    margin-left: -8px; 
}
.nul{
    margin-left: -20px;
}
.mas1{
    margin-left: -8px; 
    color:#bdc3c7;
}
.pha1{
   color:#bdc3c7; 
}
.mas2{
    margin-left: -8px; 
    color:#bdc3c7;
}  
.free{
    color: #48dbfb;
    font-size: 20px;
    margin-left: 76px;
    margin-top: 30px;
}
.starter{
    color:#27ae60;
    font-size: 20px;
    margin-left: 76px;
    margin-top: 30px;
}
.Business{
    color: #e67e22;
    font-size: 20px;
    margin-left: 76px;
    margin-top: -16px;
    
}
.Ultimate{
    color:#e84393;
    font-size: 20px;
    margin-left: 76px;
    margin-top: 30px;
}

.feature{
    height: 30px;
    width: 100px;
    background-color: blue;
    color: white;
    transform: rotate(
40deg);
    margin-left: -104px;
    margin-top: 22px;
}
.hut img{
    margin-top: -40px;
}
.para_faq{
    color:#1e3799 ;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
}
.faq{
    text-align: center;
    color:blue;
    margin-top: 90px;
}
h2 {
    font-family: Arial, Verdana;
    font-weight: 800;
    font-size: 2.5rem;
    color: #091f2f;
    text-transform: uppercase;
}
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    /* display: block; */
    font-style: italic;
    font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
    color:black;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}
.small a{
    text-decoration: none;
    font-size: 20px;
}
.dol{
    width: 438px;
    height: 600px;
    border-radius: 10px;
    margin-left: -22px;   
    margin-right: 39px;
}

.dol img{
    width: 436px;
    height: 352px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 10px;
}
.tue{
    color:#b2bec3;
    font-size: 18px;
    margin-left: 1px;
}
.opt{
    color: black;
    font-weight: bold;
    font-size: 21px;
}
.tem a{
    text-decoration: none;
    color:blue;
}
.temp{
    color:black;
}
.blog{
    text-align: center;
    color:blue;
    
    margin-left: 700px;
}
.recent1{
    text-align: center;
    color:#1e3799;
    margin-left: 367px;
    font-size: 40px;
    font-weight: bold;
    width: 694px;
  

}
.contact{
   text-align: center;
   margin-top:200px;
   margin-left: 40px;
}
.cont{
    text-align: center;
    margin-top:200px;
 }
 .photo img{
     width:60px;
     height: 60px;
     border-radius: 30px;
 }
 .star{
     color:burlywood;
 }
 .card_slide{
     width:1000rem;
     height: 400px;
 }
 
.desk img{
    margin-top: 158px;
    width: 477px;
    height: 401px;
    margin-left: 56px;
}
.offer{
    margin-top: 187px;
}
.team{
    font-size: 26px;
    text-transform: lowercase;
    
}
.cup{
    color:#1e3799;
    margin-left: 9px;
    font-size: 24px;
    margin-top: -10px;
}
.est{
    font-size: 14px;
    margin-left: 18px;
}
.rt{
    margin-left: 101px;
}
.op{
    margin-left: 51px;
}
.some_flex{
    display: flex;
}
.com_et1{
    width: 70px;
    height: 80px;
    background-color: #82ccdd;
    margin-left: 136px;
    margin-top: 36px;
}
.com_et1 i{
    color:cyan;
    margin-left: 20px;
    margin-top: 20px;
}
.com_et2{
    width: 70px;
    height: 80px;
    background-color: #feca57;
    margin-left: 136px;
    margin-top: 36px;
}
.com_et2 i{
    color:#ff9f43;
    margin-left: 20px;
    margin-top: 20px;
}
.com_et3{
    width: 70px;
    height: 80px;
    background-color: #7bed9f;
    margin-left: 136px;
    margin-top: 36px;
}
.com_et3 i{
    color:#2ed573;
    margin-left: 20px;
    margin-top: 20px;
}
.com_et4{
    width: 70px;
    height: 80px;
    background-color: #ff9ff3;
    margin-left: 136px;
    margin-top: 36px;
}
.com_et4 i{
    color:red;
    margin-left: 20px;
    margin-top: 20px;
}
.com_et5{
    width: 70px;
    height: 80px;
    background-color: #f368e0;
    margin-left: 136px;
    margin-top: 36px;
}
.com_et5 i{
    color:#8e44ad;
    margin-left: 20px;
    margin-top: 20px;
}
.com_et6 i{
    color:#8e44ad;
    margin-left: 20px;
    margin-top: 20px;
}
.com_et6{
    width: 70px;
    height: 80px;
    background-color: #FDA7DF;
    margin-left: 136px;
    margin-top: 36px;
}
.nes{
    font-size: 22px;
    font-weight: 600;
    margin-left: 65px;
}
.provide{
    margin-left: 20px;
    font-size: 15px;
}

.task1{
    
    margin-left: 113px;
    margin-top: 32px;
    }
    .task2{
        
        margin-left: 113px;
        margin-top: 32px;
        }
        .task3{
            
            margin-left: 113px;
    margin-top: 32px;
            }
            .task4{
                color:red;
                margin-left: 113px;
    margin-top: 32px;
                }
                .task5{
                    color:purple;
                    margin-left: 113px;
    margin-top: 32px;
                    }
                    .task6{
                        color:mediumvioletred;
                        margin-left: 113px;
    margin-top: 32px;
                        }
            
.elect1{
    border-bottom:4px solid #0abde3;
}
.elect2{
    border-bottom:4px solid #ff9f43;
}
.elect3{
    border-bottom:4px solid #2ecc71;
}
.elect4{
    border-bottom:4px solid red;
}
.elect5{
    border-bottom:4px solid #8e44ad;
}
.elect6{
    border-bottom:4px solid mediumvioletred;
}
.head{
    padding-top: -20px;
}
.task1{
    margin-bottom: 60px;
}
.task1 a{
text-decoration: none;
color:#0abde3;
}
.task2 a{
    text-decoration: none;
    color: #e67e22;
    }
    .task3 a{
        text-decoration: none;
        color:#2ecc71;
        }
        .task4 a{
            color:red;
            text-decoration: none;
        }
        .task5 a{
            color:purple;
            text-decoration: none;
        }
        .task6 a{
            color:mediumvioletred;
            text-decoration: none;
        }
        .flex_flex{
            display: flex;
            margin-left: 89px;
    /* margin-top: 30px; */
        }
        .dolar{
            font-weight: bold;
            font-size: 20px;
        }
        .zero{
            font-weight: bold;
            font-size: 37px;
        }
        .slash {
            color: #95a5a6;
            margin-top: 21px;
            margin-left: 6px;
        }
        .mo{
            color:#95a5a6; 
            margin-top: 22px;
    margin-left: 9px;
        }
        .fea{
            margin-left: 18px;
        }
        .hut{
            color: blue;
            text-align: center;
        }
        .just{
            font-size:40px ;
            color:#1e3799;
            text-align: center;
            font-weight: bold;
        }
        .next{
            margin-top: -173px;
        }
        .pink{
            margin-top: -200px;
        }
        .jec{
            background-color: transparent;
            color:blue;
            border: blue;
            border-radius: 20px;
            width: 50px;
        }
        .loop1{
            text-align: center;
            margin-left: 207px;
    color: blue;
        }
        .loop2 {
            text-align: center;
            margin-left: 600px;
    font-size: 43px;
    color: #1e3799;
    font-weight: bold;
        }
        .gol1 img{
            width: 431px;
            margin-left: 29px;
            margin-top: 30px;
        
            
        }
        .gol1{
            display: flex;
           
        }
        .gol2 img{
            width: 431px;
            margin-left: 29px;
    margin-top: 30px;
}
        
        .gol2{
            display: flex;
        }
        .gol3 img{
            width: 431px;
            margin-left: 30px;
    margin-top: 30px;

            
        }
        .gol3{
            display: flex;
        }
        .bol img{
            width: 443px;
            margin-left: 27px;
            margin-top: 30px;
        }
        .bol{
            display: flex;
        }
        .hol img{
            width: 431px;
            margin-left: 29px;
    margin-top: 30px;
        }
        .hol{
            display: flex;
        }
        .tog {
            margin-left: 543px;
            display: flex;
        }


        .icon_contact i{
            color:blue;
            
    margin-left: 22px;
    margin-top: 30px;
        }
        .card_contact{
            width: 289px;
    height: 209px;
    background-color: #dff9fb;
        }
        .address{
            margin-left: 25px;
    margin-top: 20px;
    font-size: 19px;
    font-weight: bold;
    color: #273c75;
        }
        .adam{
            margin-left: 25px;
    font-size: 15px;
        }
        .new{
            margin-left: 25px;
    font-size: 15px;
    margin-top: -15px;
        }
        .card_contact{
            margin-left: 30px;
            margin-top: 30px;
        }
        .kut1{
            margin-left: 59px;
        }
        .kut2{
            margin-left: 145px;
        }
     .name{
        height: 44px;
        width: 265px;
        color:#dcdde1;
        }
        .email{
            height: 44px;
    width: 265px;
    
        }
        .nut{
            width: 158px;
            padding: 15px;
        }
        .vol{
            display: flex;
        }
        .got{
            margin-left: 68px;
        }
        .bottom1{
            text-align: center;
            margin-left: 684px;
        }
        .bottom_flex{
            display: flex;
            margin-left: 671px;
        }
        .boot a{
            text-decoration: none;
            color: #5352ed;
            font-size: 12px;
            
        }
        .navy_bottom{
            color:#273c75;
            font-weight: bold;
            margin-left: 8px;
            font-size: 15px;
            margin-top: 2px;
        }
        .bottom_res{
            display: flex;
            margin-left: -66px;
            margin-top: 30px;
        }
        .bottom2{
            font-size: 12px;
        }
        .boot{
            margin-top: -5px;
    margin-left: 7px;
        }
        .bottom {
            border-top: 1px solid #7f8fa6;
            width: 100vw;
            background-color: #dff9fb;
            
        }
        .social_media ul {
display:flex;
list-style: none;

        }
        .social_media ul li {
            
            margin-left: 20px;
            margin-right: 2px;
                    }
                    .cras1{
                        font-size: 13px;
                    }
                    .cras2{
                        font-size: 13px; 
                        margin-top: -14px;
                    }
                    .link ul {
                        list-style: none;
                        
                    }
                    .arrow{
                        display: flex;
                    }
                    .arrow i{
                        margin-top: 3px;
                        color:#95afc0;
                    }
                    .arrow a{
                        text-decoration: none;
    font-size: 14px;margin-left: 5px;
    color:#1e3799;
                    }

                    .arrow a:hover{
                        color:#5352ed;
                    }
                    .link ul li{
                        margin-top: 10px;
                    }
                    .list {
color:#1e3799;
font-weight: bold;
                    }
                    .lp1{
                        font-weight: bold;
                        font-size: 15px;
                    }
                    .zero{
                        display: flex;
                    }
                    .ph{
                        font-size: 15px;
                    }
                    .con_us{
                        color:#1e3799;
                        font-weight: bold;
                    }
                    .mvc{
                        font-size: 14px;
    margin-top: 3px;
}
                    
.useful ul{
    display: flex;
    margin-left: 30px;
    list-style: none;
}

.link{
    margin-left: 200px;
}
.contact_phone{
    margin-left: 200px; 
}
.useful{
    border-top: 1px solid#7f8fa6 ;
    
    width: 100vw;
}
.social{
    margin-top: 52px;
    margin-left: 76px;
}
.social_media{
    margin-top: 10px;
    margin-left: -46px;
}
.dot{
    margin-top: 20px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    border: 1px solid #e1ecff;
}
.loop2{
    width: 444px;
    margin-left: 27pc;
    margin-top: -14px;
}
.pot{
    margin-left: 450px;
    width: 417px;

}
.question{
    display: flex;
}
.act{
    margin-right: 40px;
}
.sol{
    text-transform: lowercase;
    margin-left: 285px;
    color:#1e3799;
}
.need{
    color:blue;
    text-align: center;
}
.useful ul {
    display: flex;
}
.oops{
    margin-top: 30px;
}